@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-bg: rgba(255, 255, 255, 0.8);
  --border-color: #e5e7eb;
  --dot-inactive: #ffffff;
}

.dark {
  
  --background: #131315;
  --foreground: #ededed;
  --navbar-bg: rgba(26, 26, 28, 0.8);
  --border-color: #374151;
  --dot-inactive: #39393f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-aldrich: var(--font-aldrich);
  --font-host-grotesk: var(--font-host-grotesk);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-host-grotesk), system-ui, -apple-system, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
